body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('image.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 20px;
    position: absolute;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    transform: translate(-50%, -50%)
}
.toggle-btn {
    background-color: grey;
    color: black;
}

.toggle-btn.on {
    background-color: green;
}

.toggle-btn-white {
    background-color: grey;
    color: black;
}

.toggle-btn-white.on {
    background-color: white;
}
.toggle-btn-white.off {
    background-color: black;
    color: white
}


.toggle-btn-yellow {
    background-color: darkgoldenrod;
    color: black;
}

.toggle-btn-yellow.on {
    background-color: yellow;
}

.toggle-btn-yellow.off {
    background-color: black;
    color: yellow
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    overflow-x: auto;
}
.indicator {width:20px; height:20px; background:red; display:inline-block; vertical-align:middle;}

input[type='range'] {
width:200px ;
height:50px ;
writing-mode: bt-lr ;
transform: rotate(270deg) translate(-50%, -50%);
transform-origin: center;
margin: 0 0;
position: absolute;
}

.slider-container {
    position: absolute;
    display: flex; 
    flex-direction: 
    column; align-items: 
    center; gap: 5px; 
    width: 20px; 
    height: 500px;
}

/* Arbitrary positions (adjust as needed based on your image) */
#btn9 { left: 25%; top: 11%; }
#btn8 { left: 35%; top: 10%; }
#btn7 { left: 45%; top: 9%; }
#btn3 { left: 55%; top: 9%; }
#btn2 { left: 65%; top: 10%; }
#btn1 { left: 75%; top: 11%; }
#btn6 { left: 40%; top: 30%; }
#btn5 { left: 50%; top: 29%; }
#btn4 { left: 60%; top: 30%; }

#slider5 {position: absolute;  left: 12%; top:50%; }
#slider4 {position: absolute;  left: 20%; top:50%; }
#slider3 {position: absolute;  left: 28%; top:50%; }
#slider2 {position: absolute;  left: 36%; top:50%; }
#slider1 {position: absolute;  left: 44%; top:50%; }
#slider0 {position: absolute;  left: 52%; top:50%; }

.mode-select {
    position: absolute;
    color: white;
    font-size: 24px;
    padding: 20px 20px;
    background-color: transparent;
 
}
.mode-select.on {
    background-color: blueviolet;
}

#mode0 { left: 10%; top: 80%;}
#mode1 { left: 30%; top: 80%;}
#mode2 { left: 50%; top: 80%;}
#mode3 { left: 70%; top: 80%;}